.tab-list {  border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    font-family: Optima;
    font-size: 20px;
    color: #040a2b;
    letter-spacing: normal;
    line-height: 1.2;
    //margin-bottom: 15px;
    font-weight: lighter;
    text-transform:  capitalize;
}
  
//   .tab-list-active {
//     background-color: white;
//     border: solid #ccc;
   // border-width: 1px 1px 0 1px;
 // }