/**
 * The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar.
 *
 */

$lineHeightForNav: 20px;
$lineHeightForSearch: 50px;


header.menu {

    // ...
    width: 100%;
    position: relative;
    z-index: 5;

    .search{
        display: flex;
        justify-content: flex-end;
    }

    div.menu-container {
        width: 100%;
        background-color: white;
        padding: 0 15px;
        padding-bottom: 15px;
        text-align: left;
        
        div.menu-holder {
            position: relative;
            width: 100%;
            max-width: $siteWidth;
           // margin: 0 auto;
        }

        a.site-logo {
            background-image: url('/img/elc-logo-large.webp');
            background-size: 236px 31px;
            width: 236px;
            height: 31px;
            display: block;
            margin: 5%;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            line-height: $lineHeightForNav;
            color: white;
            text-align: left;
            display: inline-block;
        }
        .menu{
            width: 25px;
            height: 21px; 
            object-fit: scale-down;
            background-color: white;
            border-color: white;
            border-style: none;
        }

        .icon{
            background-image: url(https://www.esteelauder.com/media/images/background-images/background-image10.png);
            background-size: 18px 14px;
            width: 18px;
            height: 14px;
            display: inline-block;
            
        }

        .menu-hide{
           display: none;

            @include responsive(pc_tablet) {
                display:flex; 
                justify-content: space-between;
                padding: 0 15px;
            }  
        }
        
        nav {
            //display: inline-block;
            margin-left: 10px;
            margin-bottom: 20px;           
            @include responsive(phone) {
                display: none;
                flex-direction: column;
            }

            // .sticky {
            //     position: fixed;
            //     top: 0;
            //     width: 100%;
            //   }
              
            //   .sticky + .content {
            //     padding-top: 102px;
            //   }
            
            // #checkbox {
            //     display: none;
            //  }
            //  #checkbox:checked ~ nav ul {
            //     max-height: 200px;
            //     padding: 15px 0;
            //     transition: all 0.5s;
            //  }


            i { 
                color: black;
                font-size: 30px;
                line-height: $lineHeightForNav;
            }
            i.search {
                position: absolute;
                right: 10px;
                top: 0;
            }
            .search{
                text-align: right;
            }

            a.nav-item {
                font-family: Akziden;
                font-size: 12px;
                line-height: $lineHeightForNav;
                text-transform: uppercase;
                text-decoration: none;
                white-space: nowrap;
                border-bottom: 1px solid transparent;
                color: #000;
                margin-right: 20px;
                font-weight: 700;
                letter-spacing: .15em;
            }
        }
    }

    div.search-container {
        position: absolute;
        background-color: white;
        z-index: 20;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width: 100%;
        padding: 5px;
        background-color: white;
        border-bottom: 1px solid #CCC;
        display: none;
        &.showing { display: block; }
        
        input[type='text'] {
            min-width: 100%;
            font-size: 36px;
            line-height: $lineHeightForSearch;
            border: 1px solid #CCC;
            padding: 0 10px;
        }

        i.close {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 36px;
            line-height: $lineHeightForSearch;
        }
    }

}